<div class="body-container mt-5 mb-5">
    <form (ngSubmit)="register()" [formGroup]="myForm" autocomplete="off">
        <!--Username-->
        <div class="mb-2 row justify-content-center">
            <div class="col-8 col-md-6">
                <label for="username">Nombre de usuario*:</label>
                <input type="text" class="form-control" placeholder="Juanito3" formControlName="username">
                <span class="form-text text-danger" *ngIf="notValidField('username')">
                    El nombre de usuario obligatorio* y debe tener como mínimo tres caracteres y como máximo 10.
                </span>
            </div>
        </div>
        <!--Name-->
        <div class="mb-2 row justify-content-center">
            <div class="col-8 col-md-6">
                <label for="name">Nombre y apellidos*:</label>
                <input type="text" class="form-control" placeholder="Juan Perez" formControlName="name">
                <span class="form-text text-danger" *ngIf="notValidField('name')">
                    El campo "nombre y apellidos" es obligatorio y debe tener como mínimo tres caracteres y como máximo 40.
                </span>
            </div>
        </div>
        <!--Email-->     
        <div class="mb-2 row justify-content-center">
            <div class="col-8 col-md-6">
                <label for="email">Correo electrónico*:</label>
                <input type="email" class="form-control" placeholder="ejemplo@gmail.com" formControlName="email">
                <span class="form-text text-danger" *ngIf="notValidField('email')">
                    El email es obligatorio* y debe tener el formato correcto "ejemplo@gmail.com".
                </span>
            </div>
        </div>
        <!--Password-->
        <div class="mb-3 row justify-content-center">
            <div class="col-8 col-md-6">
                <label for="password">Contraseña*:</label>
                <input type="password" class="form-control" placeholder="********" formControlName="password">
                <span class="form-text text-danger" *ngIf="notValidField('password')">
                    La contraseña es obligatoria* y debe de tener como mínimo tres caracteres.
                </span>
            </div>
        </div>
        <!--Confirm Password-->
        <div class="mb-2 row justify-content-center">
            <div class="col-8 col-md-6">
                <label for="confirmPassword">Repetir contraseña*:</label>
                <input type="password" class="form-control" placeholder="********"  formControlName="confirmPassword">
                <span class="form-text text-danger" *ngIf="notSame()">
                    No coincide con la contraseña.
                </span>
            </div>
        </div>
        <div class="mb-5 row justify-content-center">
            <div class="col-8 offset-3 col-md-6 offset-md-4">
                <button type="submit" class="btn btn-primary" [disabled]="myForm.invalid">Registarse</button>
            </div> 
        </div>
    </form>
</div>
