<footer class="myFooter d-flex justify-content-between p-3">
    <div class="col-md-4 d-flex justify-content-center">
        <a href="" class="mb-3 me-2 mb-md-0 text-muted text-decoration-none lh-1"><img src="../../../assets/images/cooking.svg" alt="icono de cocinando"></a>
        <span class="mb-3 mb-md-0 text-muted">© Receteando 2023</span>
    </div>
    <ul class="nav col-md-4 justify-content-center list-unstyled d-flex">
        <li class="ms-3">
           <i class="bi bi-facebook"></i>
        </li>
        <li class="ms-3"><i class="bi bi-instagram"></i></li>
        <li class="ms-3"><i class="bi bi-twitter"></i></li>
    </ul>
</footer>