<div class="container mt-5">
<!--Title-->
    <div class="row text-center mb-5">
        <div class="col-12">
            <h1 >Añadir unidad</h1>
        </div>
    </div>
<!--Form-->
    <div class="row justify-content-center">
        <form (ngSubmit)="addUnit()" #myForm ="ngForm" autocomplete="off" action="#">
            <div class="col">
                <label for="name"><h4>*Nombre de la unidad:</h4></label>
                <input  class="form-control" name="name" type="text" maxlength="100" [(ngModel)] ="unit.name" required>
                <div class="link-danger mb-3">
                    <span class="form-text text-danger" *ngIf="notValidField('name')">El nombre de la unidad es obligatorio*</span>
                </div>
            </div>
            <div class="col">
                <label for="abreviation"><h4>*Abreviatura de la unidad:</h4></label>
                <input  class="form-control" name="abreviation" type="text" maxlength="10" [(ngModel)] ="unit.abreviation" required>
                <div class="link-danger mb-3">
                    <span class="form-text text-danger" *ngIf="notValidField('abreviation')">La abreviatura es obligatoria*</span>
                </div>
            </div>
<!--Buttons-->
            <div class="row mb-5 text-center" >
                <div class="col-6">
                    <button class="btn btn-primary" type="submit" [disabled]="myForm.invalid">Guardar</button>
                </div>
                <div class="col-6">
                    <a class="btn btn-primary" [routerLink]="['/unit/list']">Cancelar</a>
                </div> 
            </div>
        </form>
    </div>
</div>