<div class="body-container m-5">
    <div class="row text-center mb-5">
        <div class="col-12">
            <h1 >Modificar contraseña</h1>
        </div>
    </div>
    <div class="row">
    <form (ngSubmit)="update()" #myForm = "ngForm" autocomplete="off" action="#">
        <div class="mb-5 row justify-content-center">
            <div class="col-8 col-md-4">
                <label for="oldPassword" class="mb-3">Contraseña antigua*:</label>
                <input class="form-control" type="password"
                [(ngModel)]="oldPassword"
                name="oldPassword"
                placeholder="********"
                minlength="3" 
                required>
                <span class="form-text text-danger" *ngIf="notValidField('oldPassword')">
                    La contraseña antigua es obligatoria*
                </span>
            </div>
        </div>

        <div class="mb-5 row justify-content-center">
            <div class="col-8 col-md-4">
                <label for="newPassword" class="mb-3">Contraseña nueva*:</label>
                <input class="form-control"
                    type="password"
                    placeholder="********" 
                    [(ngModel)] = "newPassword"
                    name="newPassword"
                    minlength="3"
                    required>
                <span class="form-text text-danger" *ngIf="notValidField('newPassword')">
                    La nueva contraseña es obligatoria*.
                </span>
        </div>
        
        </div>
        <div class="mb-5 row justify-content-center">
            <div class="col-8 offset-3 col-md-4">
                <button type="submit" class="btn btn-primary" [disabled]="myForm.invalid">Modificar</button>
                
            </div> 
            <div class="col-8 col-md-4">
                <a [routerLink]="['/']" routerLinkActive="active"><button type="button" class="btn btn-primary">Cancelar</button></a>
            </div>
        </div>
    </form>
</div>
</div>

