<div class="container-fluid">
  <div class="row mt-5 mb-5 text-center">
    <div class="col-md-4 offset-md-4">
      <h1>Listado de recetas</h1>
    </div>
    <div class="col-md-4">
      <button class="btn btn-primary btn-lg"><i class="bi bi-file-plus"></i> Añadir receta</button>
    </div>
  </div>

  <div class="row">
    <div class="album">

      <div class="container mb-5">

        <div class="row g-3">
        
          <div class="col-md-4 col-sm-12 g-3" *ngFor="let recipe of recipes.content">
            <div class="card text-center" style="width:100%;">
              <img  *ngIf="recipe.photo !== null"  [src]="recipe.photo" class="card-img-top" [alt]="recipe.name">
              <img  *ngIf="recipe.photo === null" src="https://res.cloudinary.com/dhqubydyc/image/upload/v1677067465/notPhoto_f2r3fn.jpg" class="card-img-top" [alt]="recipe.name">
              <div class="card-body">
                <h5 class="card-title">{{recipe.name}}</h5>
                <p class="card-text">{{recipe.description}}</p>
                <a class="btn btn-primary" [routerLink]="['/recipe', recipe.recipeId]"><i class="bi bi-eye"></i> Ver detalles</a>
              </div>
            </div>
          </div>
         
        </div>
      </div>
    </div>
  </div>
  
  <app-paginator [totalPages]="recipes.totalPages" (selectPage)="getRecipePage($event)"></app-paginator>

</div>