/* You can add global styles to this file, and also import other style files */
:root {
  --green: #70D0B2;
  --yellow: #E4E782;
  --mustard: #FFD75C;
  --darkerGreen:#476E61;
  --grey:#F7F7F7;
  --black: #000000;
}

*{
  font-size: 16px;
  font-family: Arial, Helvetica, sans-serif;
}

html {
  margin: 0;
  padding: 0;
  height: 100vh;
  width: 100%;
}

body{
  margin: 0;
  padding: 0;
  height: 100vh;
  width: 100%;
}

.principal{
  height: 100vh;
  width: 100%;
  margin: 0;
  padding: 0;
}

.myFooter{
    margin-top: 5px;
    background: var(--yellow);
    
}

.myHeader{
    background: var(--yellow);
}

.btn-primary{
    background-color: var(--darkerGreen);
    border-color: var(--darkerGreen);
    color: var(--grey);
    text-emphasis-style: bold;
}

.btn-primary:hover{
    background-color: var(--mustard);
    border-color: var(--darkerGreen);
    color: var(--black);
}

.btn.disabled, .btn:disabled, fieldset:disabled .btn{
    background-color: var(--darkerGreen);
    border-color: var(--darkerGreen);
}

.presentation p{
    text-align: justify;
    text-indent: 20px;
}

i{
    font-weight:bold;
    font-size: 1.5em;
    cursor: pointer;
}

.active>.page-link{
    background-color: var(--darkerGreen);
    border-color: var(--darkerGreen);
}

.page-link{
    color: var(--darkerGreen);
}

.icons-btn{
    font-size: small;
}

table {
    width: 100%;
    text-align: center;
  }

.mat-mdc-form-field {
  font-size: 14px;
  width: 100%;
}

td, th {
  width: 25%;
  text-align: center;
  }


.mat-table{
  background-color: var(--grey);
  text-align: center;
}

.mat-header-cell{
  color: var(--black);
  font-size: 16px;
  font-weight: bold;
}

.mat-cell{
  color: var(--black);
}

mat-label{
  color: var(--black);
}

.filter{
  width: 100%;
}

.filterInput{
  border-color: #000000;
}

.mat-primary .mat-option.mat-selected:not(.mat-option-disabled) {
  color: var(--yellow);
}

.mat-form-field.mat-focused.mat-primary .mat-select-arrow {
    color: var(--yellow);
}

.mat-form-field.mat-focused .mat-form-field-ripple{
    background-color: var(--yellow);
}

.mat-paginator {
    background: var(--darkerGreen);
    font-size: small;
} 

th.mat-header-cell {
    text-align: center!important;
}

.mat-sort-header-container{
    justify-content: center;
}

.inputCenter{
  justify-self: center;
}