<footer class="myFooter d-flex justify-content-between">
    <div class="col-6 col-md-4 d-flex justify-content-center align-self-center mt-2">
        <a href="" class="ms-2 text-muted text-decoration-none lh-1" data-placement="bottom" title="Haz click para ir a la página principal"><img src="assets/images/cooking.svg" alt="Icono de cocinando"></a>
        <span class="ms-2 text-muted">© Receteando 2023</span>
    </div>
    <ul class="nav col-6 col-md-4 justify-content-center list-unstyled d-flex align-self-center mt-2">
        <li class="ms-3">
           <i class="bi bi-facebook"></i>
        </li>
        <li class="ms-3"><i class="bi bi-instagram"></i></li>
        <li class="ms-3"><i class="bi bi-twitter"></i></li>
    </ul>
</footer>


